$cblack: rgba(34,40,49,1);
$cgray: rgba(57,62,70,1);
$corange: rgba(253,112,19,1);
$cwhite: rgba(238,238,238,1);
$clight_blue:  rgb(169, 243, 254);
$clight_yellow: rgb(224, 249, 123);
$clight_green: rgb(113, 245, 146);

@keyframes bggradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  * {
    font-family: "Arial Black";
  }


header {
    position: fixed;
    top: 10px;
    left: 0;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(-45deg, $clight_green, $corange 50% ,$clight_yellow);
    background-size: 200% 200%;
    animation: bggradient 7s ease-in-out infinite;
    overflow: hidden;
    z-index: 2;

    .nametag {
        position: fixed;
        top: 50px;
        left: 250px;
        display: inline-block;
        font-size: 20px;
        color: $cblack;
    }

    & form {
        position: fixed;
        top: 50px;
        right: 10px;
        width: auto;
        height: 60px;

        & button {
            color: $cblack;
            margin-top: 30px;
            border: none;
            background-color: rgba(238,238,238,0);
            font-size: 20px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            transition: .3s;

            &::after { 
                position: absolute;
                bottom: 0;
                left: 50%;
                content: '';
                width: 0;
                height: 2px;
                background-color: $cwhite;
                transition: .3s;
                transform: translateX(-50%);
            }

            &:hover::after{
                width: 100%;
            }
        }
    }

    & .toplogo {
        background-color: $cwhite;
        height: 90px;
        width: 200px;
        font-size: 40px;
        margin-top: 5px;
        margin-left: 20px;
        border: 0px solid $cgray;
        border-radius: 5px;
        background:rgba(238,238,238,0.2);

        & span {
            display: inline-block;
            margin-top: 10px;
            margin-left: 5px;
        }


    }

 
}


@keyframes rotate_gear_1{

  0%{
      transform: rotate(0deg);
  }

  100%{
      transform: rotate(360deg);
  }
}

@keyframes rotate_gear_2{

0%{
    transform: rotate(360deg);
}

100%{
    transform: rotate(0deg);
}
}

section {
  transform: translateY(30px);
  width: 100%;
  height: 600px;

  & .top_wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgba(253,112,19,0.4);

    & .ulwrapper {
        position: absolute;
        top: 30%;
        left: 60%;
        height: 600px;

        & ul {
            display: flex;
            flex-direction: column;
    
    
            & li  {
                list-style: none;
                margin-bottom: 30px;

                &:hover {
                    cursor: pointer;
                }

                & a {
                    position: relative;
                    font-size: 30px;
                    display: inline-block;
                    transition: .3s;
    
                    &::after{ 
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        content: '';
                        width: 0;
                        height: 2px;
                        background-color: $corange;
                        transition: .3s;
                        transform: translateX(-50%);
                    }
    
                    &:hover::after{
                        width: 100%;
                    }
    
    

    
            }
        }

    }
  }


    & .gear_1 {
        position: absolute;
        top: 140px;
        left: 80px;
        width: 200px;
        height: 200px;
        background: gray;
        border-radius: 100%;
        animation: 10s linear infinite rotate_gear_1;

        & .bar_1 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        & .bar_2 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px) rotate(45deg);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        & .bar_3 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px) rotate(90deg);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        & .bar_4 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px) rotate(135deg);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            transform: translate(30px, 30px);
            width: 140px;
            height: 140px;
            background-color: black;
            border-radius: 100%;

        }

        & .circle {
            position: absolute;
            background-color: gray;
            width: 130px;
            height: 130px;
            transform: translate(35px, 35px);
            border-radius: 100%;
            z-index: 2;

            &::after {
                content: "";
                position: absolute;
                display: block;
                transform: translate(30px, 30px);
                width: 70px;
                height: 70px;
                background-color: black;
                border-radius: 100%;
                z-index: 3;
                opacity: 0.6;
            }

        }
    }

    & .gear_2 {
        position: absolute;
        top: 250px;
        left: 280px;
        width: 200px;
        height: 200px;
        background: gray;
        border-radius: 100%;
        animation: 10s linear infinite rotate_gear_2;

        & .bar_1 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        & .bar_2 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px) rotate(45deg);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        & .bar_3 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px) rotate(90deg);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        & .bar_4 {
            position: absolute;
            display: block;
            transform: translate(70px, -18px) rotate(135deg);
            width: 60px;
            height: 240px;
            background-color: gray;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            transform: translate(30px, 30px);
            width: 140px;
            height: 140px;
            background-color: black;
            border-radius: 100%;

        }

        & .circle {
            position: absolute;
            background-color: gray;
            width: 130px;
            height: 130px;
            transform: translate(35px, 35px);
            border-radius: 100%;
            z-index: 2;

            &::after {
                content: "";
                position: absolute;
                display: block;
                transform: translate(30px, 30px);
                width: 70px;
                height: 70px;
                background-color: black;
                border-radius: 100%;
                z-index: 3;
                opacity: 0.6;
            }

        }

    }
    
  }

}